/* color variables */

$primary_font_color : #333333;
$secondary_font_color: #EF634D;
$primary_button_color: #E13856;
$secondary_button_color: #f5a623;
$white_color: #ffffff;
$footer_input_border: #797979;
$footer_social_lnk_bg: #474747;
$footer_sec_separator: #3e3e3e;
$opening_hours_bg: #F7F6FE;
$primary_img_bg: #D0021B;
$btn_bg_gray: #D8D8D8;
$yellow_bg: #F8E71C;
$team_img_border: #e13a58;
$social_icon_bg: #eaeaf1;
$gray_btn_bg: #F2F2F2;