<footer class="page-footer footer-container">
    <div class="custom-container footer-sec">
        <!----------------------Top Row-------------------------->
        <div class="row footer-top-row">
            <div class="col-sm-12 col-md-3">
                <a class="footer-brand" routerLink="/">
                    <img src="assets/images/logo_white.png" alt="Footer Logo" class="footer-logo">
                </a>
            </div>
            <div class="col-sm-12 col-md-5 email-sub-form-sec">
                <form class="form-inline">
                    <div class="form-group">
                        <input type="email" placeholder="Your email" class="form-control">
                    </div>
                </form>
                <div class="email-sub-btn-sec">
                    <button class="btn btn-primary">Subscribe</button>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <ul class="list-unstyled list-inline social-icons-list">
                    <li class="list-inline-item">
                        <a routerLink="/">
                            <img src="assets/images/facebook.svg" alt="Facebook Icon">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a routerLink="/">
                            <img src="assets/images/twitter.svg" alt="Twitter Icon">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a routerLink="/">
                            <img src="assets/images/instagram.svg" alt="Instagram Icon">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
         <!----------------------Bottom Row-------------------------->
         <div class="row footer-bottom-row">
             <div class="col-sm-12 col-md-6">
                <p>Copyright © {{currentYear}} Agency. All Rights Reserved.</p>
             </div>
             <div class="col-sm-12 col-md-6">
                <ul class="list-unstyled list-inline footer-lnk-list">
                    <li class="list-inline-item">
                        <a routerLink="/">Terms of Conditions</a>
                    </li>
                    <li class="list-inline-item">
                        <a routerLink="/">Privacy Policy</a>
                    </li>
                </ul>
            </div>
         </div>
    </div>
</footer>
